<table id="components-theme" class="wb-tables table table-striped table-hover" data-wb-tables='{"columnDefs": [ { "visible": true, "targets": [ 2 ] } ], "lengthMenu": [[10, 25, -1], [10, 25, "All"]], "pageLength": -1, "ordering": false }'>
    <thead>
        <tr>
            <th>Release</th>
            <th>Created Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
      {{ $url := .Get "url" }}
      {{ $j := getJSON $url }}
      {{ range first 10 $j }}
      {{ $p := . }}
      {{ if in $p.name "master" }}
      <tr>
          <td><strong>{{ $p.name }}</strong></td>
          <td><strong>{{ $p.created_at }}</strong></td>
          <td>{{ $p.body | markdownify }}</td>
      </tr>
      {{ end }}
      {{ end }}
    </tbody>
</table>
